# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/

# =========================
# Environment Variables
# =========================
.env
.env.*
!.env.example

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# MLflow
# =========================
mlruns/
mlartifacts/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Python Build
# =========================
build/
dist/
*.egg-info/

# =========================
# Logs
# =========================
*.log

# =========================
# Temporary Files
# =========================
*.tmp
*.temp

# =========================
# Large Model Artifacts
# Uncomment if models are NOT
# intended to be versioned
# =========================
# *.pkl
# *.joblib
# *.onnx

ci.yml